.container
	.header__wrap
		.header__left
			div(class="header__logo logo")
				.logo__block
					+svg('M-logo')
				.logo__block метрополія
		.header__right
			.header__socials
				a(href="https://www.facebook.com/metropoliya.kiev.ua/" target="_blank" class="header__socials-link") Intagram
				a(href="https://www.facebook.com/metropoliya.kiev.ua/" target="_blank" class="header__socials-link") facebook
			.header__phone
				.header__phone-icon
					+svg('phone')
				a(href="tel:+380444928440" class="header__phone-number") +38 (044) 49-28-440
			button(class="modal-link btn header__btn") Зворотній зв’язок
nav(class="header__navbar navbar")
	.container
		ul.navbar__list
			li.navbar__item
				a(href="#" class="navbar__link navbar__link--active") Переваги                                                                 
			li.navbar__item
				a(href="#" class="navbar__link") Галерея
			li.navbar__item
				a(href="#" class="navbar__link") Галерея
			li.navbar__item
				a(href="#" class="navbar__link") Інфраструктура
			li.navbar__item
				a(href="#" class="navbar__link") Тех. характеристики
			li.navbar__item
				a(href="#" class="navbar__link") Генплан
			li.navbar__item
				a(href="#" class="navbar__link") Планування
			li.navbar__item
				a(href="#" class="navbar__link") Квартири з ремонтом
			li.navbar__item
				a(href="#" class="navbar__link") Веб камера 
			li.navbar__item
				a(href="#" class="navbar__link") Забудовник
			li.navbar__item
				a(href="#" class="navbar__link") Документи
			li.navbar__item
				a(href="#" class="navbar__link") Контакти

	
