* {
	box-sizing: border-box;
}

*::after, *::before {
	box-sizing: border-box;
}


@include reset();

.debug {
	z-index: 999999;
	@include debug(rgba(0, 0, 0, .5), 1px solid #ff0);
}

svg { max-height: 100%; }

.container {
	@include wrapper();
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {overflow-x:hidden;}

html{
	font-size: 14px;
	@include to(768px){
		font-size: 10px;
	}
	@include to(576px){
		font-size: 8.5px;
	}

	overflow-x: hidden;
	max-width: 100vw;
}
body {
	position: relative;
	margin: 0;
	min-width: 320px;
	font-family: $openSans;
	font-size: 18px;
	line-height: 1.6em;
	color: $grey;
	background: #fff;
	width: 100%;
	background-size: cover;
	overflow: hidden;
	overflow-y: auto;

	@include desktop {
		font-size: 14px;
		line-height: 1.5em;
	}
}

a {
	text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

img {
  width: 100%;
  display: block;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}