.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        position: relative;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    .slider-control {
        &__btn {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            z-index: 1;

            &--prev {
                left: 15%;

                @include laptop {
                    left: 10%;
                }

                @include tablets {
                    left: 8%;
                }

                @include phones {
                    left: 0;
                }
            }

            &--next {
                right: 15%;
                top: 45%;
                transform: rotate(180deg);

                @include laptop {
                    right: 10%;
                }

                @include tablets {
                    right: 8%;
                }

                @include phones {
                    right: 0;
                }
            }
        }
    }

    &__item {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(#000, .5);
        }
    }

    .slick-slide {
        position: relative;
        transform: scale(1, .6);
        display: flex;
        flex-direction: column;

        @include tablets {
            transform: scale(1, 0.2);
        }

        img {
            height: 100%;
            object-fit: cover;

            @include tablets {
                object-fit: fill;
            }
        }
    }

    .slick-current {
        z-index: 5;
        transform: scale(2);
        cursor: pointer;

        img {
            object-fit: contain;
        }

        @media (max-width: 1200px) {
            transform: scale(2.3);
        }

        @include laptop {
            transform: scale(2);
        }

        @include tablets {
            transform: scale(2);
            height: 500px;
        }

        @include phones {
            transform: scale(3);
            height: 400px;
        }

        &::before {
            display: none;
        }
    }
}