.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    &__left {
        margin-right: 35px;

        @include small-phone {
            margin-right: 20px;
        }
    }

    &__socials {
        margin-right: 30px;

        @media (max-width: 826px) {
            display: none;
            margin-right: 0;
        }

        &-link {
            display: inline-flex;
            margin-right: 30px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1.3em;
            text-transform: uppercase;
            color: $textColor;
            transition: all 0.4s;

            @include desktop {
                font-size: 10px;
                line-height: 1.6em;
            }

            &:hover {
                opacity: .8;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__btn {
        @media (max-width: 720px) {
            display: none;
        }
    }

    &__phone {
        margin-right: 30px;
        display: flex;
        align-items: center;

        @include tablets {
            margin-right: 15px;
        }

        @media (max-width: 568px) {
            margin-right: 0;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            margin-right: 18px;
            background-color: $textColor;
            border-radius: 50%;

            @include tablets {
                margin-right: 12px;
            }

            @media (max-width: 568px) {
                margin-right: 0;
            }

            svg {
                width: 9px;
                height: 11px;
                fill: #000;
            }
        }

        &-number {
            font-size: 18px;
            line-height: 0.9em;
            text-transform: uppercase;
            color: $textColor;

            @media (max-width: 857px) {
                font-size: 14px;
            }

            @media (max-width: 568px) {
                display: none;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }
}