.paper {
    background: url('../images//paper-bg.jpg') no-repeat center/cover;
    
    &__content {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablets {
            justify-content: flex-start;
        }
    }

    .container {
        @include phones {
            padding: 0 10px;
        }
    }

    &__title {
        margin-bottom: 60px;
        text-align: center;

        @include desktop {
            margin-bottom: 30px;
        }
    }

    &__wrap {
        display: flex;
        width: 100%;
    }

    &__slider {
        display: flex;
        width: 90%;

        @include laptop {
            transform: translateX(-20px);
        }

        .slick-list {
            padding-top: 30px;
            padding-left: 20px;
        }

        .slick-slide {
            display: flex;
        }

        @media (max-width: 380px) {
            width: 83%;
            margin-right: 17px;
            transform: translateX(-28px);
        }
    }

    &__item {
        cursor: pointer;
        outline: none;

        a {
            outline: none;

            &:active {
                outline: none;
            }
        }

        &-wrap {
            min-height: 425px;
            width: 100%;
            margin: 0 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            border: 1px solid rgba(203, 211, 224, 0.4);
            transition: all 0.4s;

            &:hover {
                border-color: #fff;

                .paper__link {
                    transition: all 0.4s;
                    background-color: #fff;

                    svg {
                        transition: all 0.4s;
                        fill: #000;
                    }
                }
            }

            @include phones {
                min-height: inherit;
                margin: 0 25px;
            }

            @include small-phone {
                margin: 0 30px;
                transform: translateX(-15px);
            }
        }

    }

    &__link {
        transition: all 0.4s;
        transform: translateY(-30px);
        width: 59px;
        height: 59px; 
        border: 1px solid rgba(203, 211, 224, 0.4);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop {
            width: 40px;
            height: 40px;
            transform: translateY(-20px);
        }

        svg {
            transition: all 0.4s;
            width: 21px;
            height: 21px;
            fill: #CBD3E0;

            @include desktop {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__text {
        margin-bottom: 20px;
        margin-top: 60px;
        position: relative;
        padding: 0 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 200px;
        }

        @include laptop {
            padding: 0 30px;
        }

        @include tablets {
            padding: 0 15px;
        }

        @include phones {
            margin-top: 30px;
            padding: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 12px;
            left: -17px;
            width: 32px;
            height: 1px;
            background-color: #CAC4CD;

            @include tablets {
                display: none;
            }
        }
    }

    &__icon {
        margin-top: auto;
        margin-left: auto;

        svg {
            width: 190px;
            height: 103px;
            fill: #CBD3E0;

            @include desktop {
                width: 130px;
                height: 71px;
            }

            @include phones {
                width: 110px;
                height: 60px;
            }
        }
    }

    &__btn {
        &--next {
            transform: rotate(180deg);

            @include laptop {
                transform: rotate(180deg) translateX(20px);
            }

            @include phones {
                transform: rotate(180deg) translateX(32px);
            }

            @media (max-width: 380px) {
                transform: rotate(180deg) translateX(66px);
            }

            @include small-phone {
                transform: rotate(180deg) translateX(60px);
            }
        }
    }
}